/* App global styles */
.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgb(251, 251, 250);
}

/* Responsive layout */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}